body {
    background-color: var(--primary);
}

h1 {
    color: var(--secondary);
    font-size: 70px;
    font-weight: 1000;
    position: absolute;
    top: 100px;
    margin-left: 1%;
    
}

:root {
    --primary: #D7F7B5;
    --secondary: #EDF763;
    --tertiary: #4A8A07;
    --error: #F77660;
}

.headerImage {
    height: 195px;
    width: 100vw;
    object-fit: cover;
}

.header {
    width: 100vw;
}

.nav {
 width: 100vw;
}

.navBar {
    position: absolute;
    top: 145px;
    right: 5px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-end;
}

.navBtn {
    color: var(--secondary);
    font-weight: bolder;
    margin: 5px;
}

.aboutMe {
    margin-left: 60px;
    margin-right: 60px;
}

.about {
    color: var(--tertiary);
    font-weight: bolder;
    margin-top: 20px;
}

.projectCard{
    width: 504.5px;
    height: 405px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    border: solid var(--tertiary) 3px;
    background-color: var(--tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectCard:hover {
    background-color: white;
}

.projectCard:hover .projectTitle{
    display: block;
    text-shadow: var(--secondary) 0px 0px 10px;

}

.projectTitle {
    color: var(--tertiary);
    display: none;
    position: absolute;
    font-size: 40px;
}

.projectTitle:hover{
    display: block;
}

.github {
    position: absolute;
    width: 50px;
    height: auto;
    margin-left: 5px;
}
.project {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.project:hover {
    object-fit: cover;
    opacity: 20%;
}

.contact {
    width: 500px;
    margin-top: 30px;
    margin-left: 240px;
}

.form-label {
    color: var(--tertiary);
    font-weight: bolder;
}

.btn {
    color: var(--secondary);
    border-color: var(--tertiary);
    background-color: var(--tertiary);
    margin-top: 5px;
}

.btn:hover {
    color: var(--tertiary);
    border-color: var(--tertiary);
    background-color: var(--secondary);
    margin-top: 5px;
}

.error {
    color: var(--error);
    font-size: 24px;
    font-weight: bolder;
}

.resume {

    margin-top: 30px;
    margin-left: 240px;
}

.link {
    color: var(--tertiary);
    text-decoration: underline;
    text-decoration-color:var(--tertiary) ;
    margin-bottom: 30px;
}

.prof {
    color: var(--tertiary);
    font-weight: bolder;
}

.list {
    color: var(--tertiary);
    font-weight: bolder;
}

.linkLogo {
    width: auto;
    height: 80px;
    margin-top: 20px;
}

.linkedin {
    margin-left:25px;
}

.errorPage {
    height: 100vh;
    width: 100vw;
}

.errorMessage {
    color: yellow;
    font-size: 35px;
    position: absolute;
    top: 700px;
    margin-left: 20px;
}

.hero {
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

@media screen and (max-width: 828px) {
    h1 {
        font-size: 60px;
    }
    .headerImage{
        height: 300px;
    }
    .nav{
        display: flex;
        justify-content: center;
    }
    .navBar {
        position: absolute;
        top: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contact {
        margin-left: 30px;
    }
    .resume{
        margin-left: 30px;
    }
}
@media screen and (max-width: 530px) {
    h1 {
        font-size: 40px;
    }

    .projectCard{
        width: 404.5px;
        height: 405px;
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 40px;
        border: solid var(--tertiary) 3px;
        background-color: var(--tertiary);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
}